<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off"
      [formGroup]="forma"
      (ngSubmit)="onSubmit()"
      >
  <div>

    <div class="form-group row mb-3">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <small *ngIf="nombreNoValido" class="form-text text-danger">El nombre no es valido</small>
        <input class="form-control"
               [class.is-invalid]="nombreNoValido"
               [class.is-valid]="this.forma.get('nombre')?.valid"
               type="text"
               id="nombre"
               name="nombre"
               formControlName="nombre"
               placeholder="Nombre">
      </div>
    </div>

    <div class="form-group row mb-3">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <small *ngIf="apellidoNoValido" class="form-text text-danger">El apellido no es valido</small>
        <input class="form-control"
              [class.is-invalid]="apellidoNoValido"
              [class.is-valid]="this.forma.get('apellido')?.valid"
               type="text"
               id="apellido"
               name="apellido"
               formControlName="apellido"
               placeholder="Apellido">
      </div>
    </div>

  </div>

  <div class="form-group row mb-3">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">
      <small *ngIf="emailNoValido" class="form-text text-danger">El email no es valido</small>
      <input class="form-control"
            [class.is-invalid]="emailNoValido"
            [class.is-valid]="this.forma.get('email')?.valid"
             type="email"
             id="email"
             name="email"
             formControlName="email"
             placeholder="Correo electrónico">
    </div>
  </div>
    <div class="form-group row mb-3">
    <label class="col-2 col-form-label">Usuario</label>
    <div class="col-8">
      <small *ngIf="usuarioNovalido" class="form-text text-danger">Este nombre de usuario ya existe</small>
      <small *ngIf="this.forma.get('usuario')?.errors?.['vacio']" class="form-text text-danger">Ingrese un nombre de usuario</small>
      <input class="form-control"
        [class.is-invalid]="usuarioNovalido"
        [class.is-valid]="this.forma.get('usuario')?.valid"
        type="text" name="usuario"
        placeholder="Ingese su usuario"
        formControlName="usuario"
        >
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="col-8">
      <input class="form-control"
             [class.is-invalid]="pass1NoValido"
             [class.is-valid]="(this.forma.get('pass1')?.valid )"
             type="text"
             name="passwordor1"
             placeholder="contraseña"
             formControlName="pass1"
             id="">

    </div>
  </div>
  <div class="form-group row mb-3">
    <label class="col-2 col-form-label">Repita contraseña</label>
    <div class="col-8">
      <input class="form-control"
      [class.is-invalid]="pass2NoValido"
      [class.is-valid]="!pass2NoValido && this.forma.get('pass2')?.touched"
             type="text"
             name="passwordor2"
             placeholder="Repita la contraseña"
             formControlName="pass2"
             id="">

    </div>
  </div>
  <!-- <div class="form-group row mb-3">
    <label class="col-2 col-form-label">Dirección</label>
    <div class="col-8">

    </div>
  </div> -->

  <div class="form-group row mb-3" formGroupName="direccion">
    <label class="col-2 col-form-label">Dirección</label>
    <div class="col-8 d-flex">
      <div class="col me-1">
        <input type="text"
              name="distrito"
              class="form-control"
              [class.is-invalid]="distritoNoValido"
              [class.is-valid]="this.forma.get('direccion.distrito')?.valid"
              formControlName="distrito"
              placeholder="distrito"
        >
      </div>
      <div class="col ms-1">
        <input type="text"
              name="ciudad"
              class="form-control"
              [class.is-invalid]="ciudadNoValido"
              [class.is-valid]="this.forma.get('direccion.ciudad')?.valid"
              formControlName="ciudad"
              placeholder="ciudad"
        >
      </div>
    </div>
  </div>
  <div class="form-group row mb-3">
    <label class="col-2 col-form-label">Genero</label>
    <div class="col-8">
      <div class="d-flex" >
        <div class="form-check form-check-inline">
          <input class="form-check-input"
          [class.is-invalid]="generoNoValido"
          [class.is-valid]="this.forma.get('genero')?.valid"
                  type="radio"
                   name="genero"
                   value="M"
                   id="h"
                   formControlName="genero"
                   >
          <label class="form-check-label" for="h">
            Masculino
          </label>
        </div>
        <div class="form-check mx-1">
          <input class="form-check-input"
                [class.is-invalid]="generoNoValido"
                [class.is-valid]="this.forma.get('genero')?.valid"
                 type="radio"
                 name="genero"
                 id="m"
                 value="F"
                 formControlName="genero"
                 >
          <label class="form-check-label" for="m">
            Femenino
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class=" row mb-3">
    <!-- <label class="col-2 col-form-label">Dirección</label> -->
    <div class="col">
      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Pasatiempo</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody formArrayName="pasatiempos">
          <tr *ngFor="let control of pasatiempos.controls; let i = index">
            <td scope="row">{{i + 1}}</td>
            <td>
              <input class="form-control"
                type="text"
                [formControlName]="i"
                >
            </td>
            <td class=" ">
              <div class="d-flex">
                <button class="btn btn-sm border-0 p-0 "
                style="margin: 0 auto;"
                type="button"
                (click)="borrarPasatiempo(i)"
                  ><i class=" fa-solid fa-trash"
                    style="color:rgb(244, 48, 48);">
                  </i>
              </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-grid gap-2">
        <button class="btn btn-primary mt-3 mb-3"
            type="button"
            (click)="agreagrPasatiempo()">
            <i class="fa-solid fa-plus">
            </i> Agregar
          </button>
      </div>
    </div>
  </div>
  <!-- <div class="form-group row mb-3">
    <label class="col-2 col-form-label">Dirección</label>
    <div class="col-8">

    </div>
  </div> -->

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>
<hr>
<pre>
  Estado del formulario : {{forma.valid}}
  <br>
  Status: {{forma.status}}

  <pre>
    {{forma.value |json}}
  </pre>
</pre>
